h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.cuadro {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 15%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.peachpuff{
    background-color: peachpuff;
}
